<section id="exemple" class="container">
    <div class="wrap small-width">
        <ul id="box-container">
            <li class="box deckgrid" deckgrid source="gallery">
                <div class="fileDelete">
                    <a ng-href="{{ card.url }}" class="swipebox a-card">
                        <img ng-show="card.type == 'photo'" ng-src="{{ card.thumb }}" alt="image" >
                        <video ng-src="{{ card.url | trustUrl }}" ng-show="card.type == 'video'" width="100%" controls type="video/mp4">
                        </video>
                    </a>
                    <i ng-click="mother.delete({id: card.id})" class="fileDeleteBtn fa fa-times"></i>
                </div>
            </li>
        </ul>
    </div>
</section>