<div class="col-lg-8 col-center-block">
    <section class="panel">
        <header class="panel-heading">
            Privacy Policy
        </header>
        <div class="panel-body">
            Lorem ipsum dolor sit amet, et eum accusamus iracundia vituperatoribus, vel an vocibus vivendo invenire, novum vocibus persecuti no sea. Et vim assentior inciderint. Enim facilisis salutatus his ex, ex iriure albucius nec. Te zril maiorum mea, cu recteque torquatos maiestatis has.

            Reque legere eirmod te ius, ei tritani bonorum has. Probo choro diceret et sed, vel brute iudico id. At sit mollis minimum gubergren. Tollit graece consequuntur eu mel.

            His eu veri graece. No saepe doming vulputate nec, eu sed aliquid ponderum. Minim delenit vel et, nec ad esse periculis, ancillae comprehensam vel ut. Cu liber graeci omnesque nec, vivendum efficiantur vel id. Quaeque fabellas nominati has te. Nec ei nonumes sapientem.

            No qui vero conclusionemque, solet fastidii vis te. Purto tation alterum est et. Delenit reprimique repudiandae an his, eam oratio phaedrum in, ut sea posse iudico altera. Eam stet latine omittantur te, at vim errem graeci repudiandae. Ad vix dicit deserunt torquatos.

            Vix ei intellegam definitionem, eirmod molestiae adversarium vel ne, sed ad purto dolor efficiantur. Altera admodum ad sed, in feugait civibus mel, dicant oporteat sed ne. Vivendo propriae vulputate qui eu. Vis persius graecis qualisque et, eam ipsum vivendum voluptatibus cu.
        </div>
    </section>
</div>