<div class="col-lg-8 col-center-block">
    <section class="panel">
        <header class="panel-heading">
            Privacy Policy
        </header>
        <div class="panel-body">
            <p>This Privacy Policy ("Policy") describes the privacy practices for www.donnavekicapp.com and
            www.donnavekisshop.com website (the "Site"), which is owned and operated by ECM Global ("Company" or "We").
            This Policy applies only to information we collect on the Site. This Policy does not apply to information
            that we collect offline or on any other Company websites or apps, including websites you may access through
            this Site or you provide to or is collected by any third party. Our websites and apps and these third
            parties may have their own privacy policies, which we encourage you to read before providing information on
            or through them.</p>

            <p>Please read this Policy carefully to understand our policies and practices regarding your information and
            how we will treat it. If you do not agree with our policies and practices, do not use the Site. By using the
            Site, you agree to this Policy. This Policy may change from time to time. Your continued use of the Site
            after we make changes is deemed to be acceptance of those changes, so please check the Policy periodically
            for updates.</p>

            <p>Children under the Age of 13</p>

            <p>The Site is not intended for children under 13 years of age, and we do not knowingly collect personal
            information from children under 13. If we learn we have collected or received personal information from a
            child under 13 without verification of parental consent, we will delete that information. If you believe we
            might have any information from or about a child under 13, please contact us at info@donnavekicapp.com</p>

            <p>Information We Collect and How We Collect It</p>

            <p>We may collect information from and about users of our Site directly from you when you provide it to us
            and/or automatically when you use the Site.</p>

            <p>Information You Provide to Us.</p>

            <p>When you register with or use this Site, we may ask you to provide information by which you may be
            personally identified, such as name, postal address, e-mail address, telephone number, credit card number,
            geolocation, device identification number, or any other identifier by which you may be contacted online or
            offline ("personal information"), or that is about you but individually does not identify you.</p>

            <p>This information includes: (i) Information that you provide by filling in forms on the Site. This includes
            information provided at the time of registering to use the Site, subscribing to our service, posting
            material, and requesting further services. We may also ask you for information when you enter a contest or
            promotion sponsored by us, and when you report a problem with the Site; (ii) records and copies of your
            correspondence (including e-mail addresses and phone numbers), if you contact us; (iii) Your responses to
            surveys that we might ask you to complete for research purposes; (iv) Details of transactions you carry out
            through the Site and of the fulfillment of your orders (note that you may be required to provide financial
            information before placing an order through the Site); (v) Your search queries on the Site; and (vi) You may
            be able to access features of the Site by using your Facebook or other social media accounts. Your privacy
            settings on your Facebook or other social media accounts, as well as the social media companies' respective
            privacy policies, will determine the personal and other information that may be shared with us when you
            access the Site.</p>

            <p>You may provide information to be published or displayed ("Posts" or "Posted") on public areas of the Site
            (collectively, "User Contributions"). Your User Contributions and Posts may be transmitted to others at your
            own risk. We cannot control the actions of third parties with whom you may choose to share your User
            Contributions. Therefore, we cannot guarantee that your User Contributions will not be viewed by
            unauthorized persons.</p>

            <p>Automatic Information Collection And Tracking.</p>

            <p>When you access and use the Site, it may use technology to automatically collect certain information,
            including but not limited to:</p>

            <p>Usage Details. When you access and use the Site, we may automatically collect the domain name and host from
            which you access the Internet and the Internet address of the website from which you direct-linked to the
            Site, the date and time you access the Site and pages you visit, traffic data, location data, logs and other
            communication data and the resources that you access and use on or through the Site.</p>

            <p>Device Information. We may collect information about your computer's or device's IP address and information
            about its operating system, platform, location, and the web browser type and version you use.</p>

            <p>Location and Other Information. We may collect real-time information about the location of your device as
            well as demographic, usage patterns and other non-personally identifiable profile information about you.</p>

            <p>We also may use technologies to collect information about your usage of the Site over time. We do not
            respond to web browser "do not track" signals.</p>

            <p>Information Collection And Tracking Technologies. The technologies we use for automatic information
            collection may include:</p>

            <p>Cookies. A cookie is a small file placed on your computer's hard drive through your web browser to enable
            our systems to recognize your browser. While you may block or disable cookies, if you do, the Site may not
            function and appear as designed.</p>

            <p>Web Beacons. Pages of the Site or our emails may contain small electronic files known as web beacons (also
            referred to as clear gifs, pixel tags and single-pixel gifs) that permit the Company, for example, to count
            users who have visited those pages or opened an e-mail and for other related statistics (for example,
            recording the popularity of certain content and verifying system and server integrity).</p>

            <p>Third-party Information Collection</p>

            <p>When you use the Site or its content, certain third parties may use automatic information collection
            technologies to collect information about you or your device. These third parties may include: advertisers,
            ad networks and ad servers, analytics companies your device manufacturer, etc.</p>

            <p>These third parties may use tracking technologies to collect information about you when you use this Site.
            The information they collect may be associated with your personal information or they may collect
            information, including personal information, about your online activities over time and across different
            websites, apps and other online services or websites. They may use this information to provide you with
            interest-based (behavioral) advertising or other targeted content.</p>

            <p>We do not control these third parties' tracking technologies or how they may be used. If you have any
            questions about an advertisement or other targeted content, you should contact the responsible provider
            directly.</p>

            <h4>How We Use Your Information</h4>

            <p>We use information that we collect about you or that you provide to us, including any personal information,
            to:</p>

            <p>Provide you with the Site and its contents, and any other information, products or services that you request
            from us.</p>

            <p>Fulfill any other purpose for which you provide it.</p>

            <p>Give you notices about your account or subscription, including any expiration and renewal notices.</p>

            <p>Carry out our obligations and enforce our rights arising from any contracts entered into between you and us,
            including for billing and collection.</p>

            <p>Notify you when Site updates are available, and of changes to any products or services we offer or provide
            though it.</p>

            <p>The usage information we collect helps us to improve our Site and to deliver a better and more personalized
            experience by enabling us to:</p>

            <p>Estimate our audience size and usage patterns.</p>

            <p>Store information about your preferences, allowing us to customize our Site according to your individual
            interests.</p>

            <p>Speed up your searches.</p>

            <p>Recognize you when you use the Site.</p>

            <p>We may also use your information to contact you about our own and third parties' goods and services that may
            be of interest to you. We may use the information we collect to display advertisements to our advertisers'
            target audiences. If you click on or otherwise interact with an advertisement, the advertiser may assume
            that you meet its target criteria.</p>

            <p>Disclosure of Your Information</p>

            <p>We may disclose aggregated and de-identified information about our users without restriction. In addition,
            we may disclose personal information that we collect or you provide:</p>

            <p>To our subsidiaries and affiliates.</p>

            <p>To contractors, service providers, content providers, and other third parties we use to support our
            business.</p>

            <p>To a buyer or other successor in the event of a merger, divestiture, restructuring, reorganization,
            dissolution or other sale or transfer of some or all of our assets, whether as a going concern or as part of
            bankruptcy, liquidation or similar proceeding, in which personal information held by us about our App users
            is among the assets transferred.</p>

            <p>To third parties to personalize services and products offered to you.</p>

            <p>To fulfill the purpose for which you provide it.</p>

            <p>For any other purpose disclosed by us when you provide the information.</p>

            <p>With your consent.</p>

            <p>To comply with any court order, law or legal process, including to respond to any government or regulatory
            request.</p>

            <p>To enforce our rights arising from any contracts entered into between you and us, including the Terms of
            Use, this Policy, and for billing and collection.</p>

            <p>If we believe disclosure is necessary or appropriate to protect our rights, property, or safety or that of
            our customers, users, contractors or others. This includes exchanging information with other companies and
            organizations for the purposes of fraud protection and credit risk reduction.</p>

            <p>Accessing and Correcting Your Personal Information</p>

            <p>You can review and change your personal information by logging into the Site and visiting your account
            profile page. We may not accommodate a request to change information if we believe the change would violate
            any law or legal requirement or cause the information to be incorrect. If you delete your User Contributions
            from the Site, copies of your User Contributions may remain viewable in cached and archived pages, or might
            have been copied or stored by other Site users. You can unsubscribe from any newsletters or various
            promotional emails at any time by clicking on the "unsubscribe" links provided in such communications. You
            may not opt out of Site-related communications, such as account verification, purchase confirmations and
            administrative messages, so long as you are registered with the Site. As we develop our business, we might
            buy or sell businesses or their assets, or engage in transfers, acquisitions, mergers, restructurings,
            changes of control, or other transactions. In such transactions, customer information generally is one of
            the transferred business assets and your information may be subject to such a transfer. You agree to and do
            hereby consent to any such transfer. Also, in the unlikely event of a bankruptcy, your information may be
            transferred to a bankruptcy trustee or debtor in possession and then to a subsequent purchaser.</p>

            <h4>Social Media Plug-ins</h4>

            <p>We may integrate social media application program interfaces or plug-ins ("Plug-ins") from social networks,
            including Facebook, Twitter, Instagram, Tumblr, Pinterest and others, into our Site. Plug-ins may transfer
            information about you to the Plug-in's respective platform without action by you. This information may
            include your platform user identification number, which website you are on, and more. Interacting with a
            Plug-in will transmit information directly to that Plug-in's social network and that information may be
            visible by others on that platform. Plug-ins are controlled by the respective platform's privacy policy, and
            not by our Policy..</p>

            <p>Processing Your Information</p>

            <p>We may limit the availability of the Site or any service or product described on the Site to any person or
            geographic area at any time</p>


            <h4>Data Security</h4>

            <p>The safety and security of your information also depends on you. Where we have given you (or where you have
            chosen) a password for access to certain parts of our Site, you are responsible for keeping this password
            confidential. You should not share your password with anyone. Unfortunately, the transmission of information
            via the Internet and mobile platforms is not completely secure. Although we take reasonable precautions to
            protect your personal information, we cannot guarantee the security of your personal information. Any
            transmission of personal information is at your own risk. We are not responsible for circumvention of any
            privacy settings or security measures we provide.</p>

            <p>Changes to Our Policy</p>

            <p>We may update our Policy from time to time. Non-material changes will take effect immediately. If we make
            material changes, we will notify you by email (at the email address you have provided to us) or through
            notice on the home page of the Site, and will also indicate as much at the top of this page. Material
            changes will take effect 30 days after such notice. We encourage you to review this Policy at least every 30
            days to check for material changes.</p>

            <p>Intellectual Property Rights Policy; DMCA Notification</p>

            <p>We respect the rights of intellectual property holders. If you believe that any content on the Site violates
            your intellectual property rights, you can report such violation to us in accordance with the Digital
            Millennium Copyright Act (17 U.S.C. §512). In the case of an alleged infringement, please provide the
            following information:</p>

            <p>A description of the copyrighted work or other intellectual property that you claim has been infringed;</p>

            <p>A description of where the material that you claim is infringing is located on the App (including the exact
            URL);</p>

            <p>An address, a telephone number, and an e-mail address where we can contact you;</p>

            <p>A statement that you have a good faith belief that the use is not authorized by the copyright or other
            intellectual property rights owner, by its agent, or by law;</p>

            <p>A statement by you under penalty of perjury that the information in your notice is accurate and that you are
            the copyright or intellectual property owner or are authorized to act on the owner's behalf; and</p>

            <p>Your electronic or physical signature, or that of the person authorized to act on behalf of the owner of the
            copyright or other right being infringed.</p>

            <p>We may request additional information before we remove allegedly infringing material. You may report a
            copyright violation by providing the above information to the ECM Global listed below.</p>

            <p>ECM Global</p>
            <p>Bosutsko naselje 88</p>
            <p>31000 Osijek</p>
            <p>Croatia</p>

            <p>Or by E-mail: info@donnavekicapp.com</p>

            <p>We will terminate the user account of any user who repeatedly submits content that violates our intellectual
            property policies. A repeat infringer is a user who has been notified of infringing activity more than twice
            and/or has had Content removed from the Site more than twice.</p>

            <p>Contact Information</p>

            <p>Privacy Concerns. If you have any concern or complaint about privacy on the Site, please contact us at</p>
            <p>ECM Global</p>
            <p>Bosutsko naselje 88</p>
            <p>31000 Osijek</p>
            <p>Croatia</p>

            <p>Or by E-mail: info@donnavekicapp.com .We will do our best to respond to you in a timely and professional
            manner in order to answer your questions and resolve your concerns.</p>

            <p>© ECM Global. All rights reserved.</p>
        </div>
    </section>
</div>