<div class="col-lg-6">
    <section class="panel">
        <header class="panel-heading">
            Change password Form
        </header>
        <div class="panel-body">
            <form class="form-horizontal" role="form" ng-submit="anonCtrl.save(user)">

                <!-- Password -->
                <div class="form-group">
                    <label for="inputPassword1" class="col-lg-2 col-sm-2 control-label">Password</label>
                    <div class="col-lg-10">
                        <input ng-model="anonCtrl.user.password" type="password" class="form-control" id="inputPassword1" placeholder="Password">
                    </div>
                </div>

                <!-- Confirm Password -->
                <div class="form-group">
                    <label for="inputPassword2" class="col-lg-2 col-sm-2 control-label">Confirm Password</label>
                    <div class="col-lg-10">
                        <input ng-model="anonCtrl.user.confirmPassword" type="password" class="form-control" id="inputPassword2" placeholder="Confirm Password">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <input type="submit" class="btn btn-info" ng-disabled="userForm.$invalid" value="Login">
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>