<div class="col-md-8 col-center-block">
    <section class="panel">
        <header class="panel-heading">
            Terms of Use
        </header>
        <div class="panel-body">
            <p>These Terms of Use ("Terms") govern your ("you" or "your") use of www.donnavekicapp.com Site or Mobile App
            ("Site"), Donna Vekic ™ Mobile App (Android Platform) and Donna Vekic ™ Mobile App iOS Platform , which is
            owned and operated by Brankica Vekic, Avenue Saint Michel 11 98000 Monaco ("Company," "we," "us," "our"). If
            you don't agree with these Terms, please do not use the Site or Mobile App or any of the Mobile App
            versions.</p>

            <p>User Accounts. You must be over the age of 13 to register with the Site or Mobile App. You also agree to
            provide true, accurate and complete registration information when you create a user account.</p>

            <p>Changes to Terms. We may change the Terms from time to time. The most recent version of the Terms will be
            posted on the Site or Mobile App and replace any prior versions. Your continued use of the Site or Mobile
            App following the posting of these changes will constitute acceptance of such changes. We also reserve the
            right to modify the content or access to any feature of the Site or Mobile App at any time.</p>

            <p>Privacy. Your use of the Site or Mobile is governed by Company's Privacy Policy, which is incorporated
            herein.</p>

            <p>Communication Preferences. If you register with the Site or Mobile, you consent to receiving service
            messages relating to your account, such as payment confirmations, account verifications and transactional
            notices. You also consent to receiving other communications from us such as newsletters, special offers,
            announcements and surveys, which you may opt out of by clicking on the "unsubscribe" links contained
            therein.</p>

            <p>Subscription, Free Trial, Billing and Cancellation</p>

            <p>Free Access. You may access certain features of the Site or Mobile App free of charge. However, if you do
            not purchase a subscription, your access to the Site or Mobile App will be limited.</p>

            <p>Paid Subscription. You may access the subscription-only features of the Site or Mobile App by signing up for
            a paid subscription, which may start with a free trial. Only one person may use the user name and password
            associated with a subscription account. You may be required to provide a current, valid, accepted method of
            payment ("Payment Method") to start your subscription or free trial.
            Free Trial. From time to time, we may offer free trials of the subscription service for a specified period
            of time. Company reserves the right, in its sole discretion, to determine your eligibility for a free trial,
            and to modify or withdraw a free trial at any time without notice or liability.</p>


            <p>Price Changes. We reserve the right to change pricing for subscriptions or any components thereof in any
            manner and at any time as we may determine in our sole discretion. Subject to these Terms, any price changes
            will take effect following email notice to you.</p>

            <p>No Refunds. PAYMENTS ARE NONREFUNDABLE AND NO REFUNDS OR CREDITS WILL BE GIVEN FOR PARTIAL OR INCOMPLETE
            USE. We reserve the right, in our sole discretion, to provide refunds, discounts or credits to subscribers
            on one or more instances without obligation to do so in the future. If any or all of the features of the
            Site or Mobile App are temporarily unavailable, you will not receive a refund.</p>

            <p>Cancellation. You may cancel your subscription to the Site or Mobile App at any time by logging into your
            account and following the instructions for cancellation. Cancellation will become effective at the end of
            your current billing period. You will not receive a refund or credit for your current billing period. You
            may continue to access the subscription-only features of the Site or Mobile App for the remainder of your
            current billing period.</p>

            <p>Third Party Materials. The Site or Mobile App may display, include or make available third-party content
            (including data, information, applications and other products services and/or materials) or provide links to
            third-party webSite or Mobile Apps or services, including through third-party advertising ("Third Party
            Materials"). You acknowledge and agree that Company is not responsible for Third Party Materials, including
            their accuracy, completeness, timeliness, validity, copyright or trademark compliance, legality, decency,
            quality or any other aspect thereof. Company does not assume and will not have any liability or
            responsibility to you or any other person or entity for any Third Party Materials. Third Party Materials and
            links thereto are provided solely as a convenience to you and you access and use them at entirely at your
            own risk and subject to such third parties' terms and conditions. Once you choose to link to another Site or
            Mobile App, you should read and understand that Site or Mobile App's privacy statement before disclosing any
            personal information.</p>

            <p>Your Use of the Site or Mobile App. All of our content available through the Site or Mobile App is owned by
            or licensed to us or our partners and/or users and is protected by copyright and/or trademark laws. You do
            not acquire ownership rights to any content viewed through the Site or Mobile App. Our posting of content on
            the Site or Mobile App does not constitute a waiver of any right in such content. You may not use, store,
            display, publish, transmit, distribute, modify, reproduce, create derivative works of or in any way exploit
            any of this content (other than your own content), in whole or in part, outside of the specific usage rights
            granted to you by Company in connection with this Site or Mobile App. All other copying in any format or
            other unauthorized use of the Site or Mobile App or its contents may constitute a breach of copyright,
            trademark and/or other intellectual property laws and/or other international laws and may subject you to
            criminal or civil charges and penalties. Company reserves all other rights not expressly granted hereunder.
            In no event may the Site or Mobile App be used in a manner that (a) harasses, abuses, threatens, defames or
            otherwise infringes or violates the rights of others; (b) is unlawful, fraudulent or deceptive; (c) uses
            technology or other means to access Company's proprietary information that is not authorized by Company; (d)
            uses or launches any automated system to access Company's webSite or Mobile App or computer systems; (e)
            attempts to introduce viruses, trojans, worms, malware, or any other malicious computer code that
            interrupts, destroys or limits the functionality of any computer software, hardware or telecommunications
            equipment; (f) attempts to gain unauthorized access to Company's computer network or user accounts; (g)
            encourages conduct that would constitute a criminal offense, or would give rise to civil liability; or, (h)
            violates these Terms. Company reserves the right, in its sole discretion, to terminate your user account.</p>

            <p>Information and Press Releases. The Site or Mobile App contains information and press releases in connection
            with its content. While this information was believed to be accurate as of the date prepared, Company
            disclaims any duty or obligation to update this information or any press releases. Information about
            companies other than ours contained in the press release or otherwise, should not be relied upon as being
            provided or endorsed by us.</p>

            <p>Content Posted on the Site or Mobile App. The Site or Mobile App may contain social networking components
            and interactive features (including but not limited to blogs, chat groups, bulletin boards, news groups, as
            well as, the display of content from linked third-party webSite or Mobile Apps, which may allow you to
            submit, transmit or post information, including but not limited to audio recordings, video recordings,
            writings, and/or images. Company may monitor content posted on the Site or Mobile App, but Company is under
            no obligation to do so. You may be exposed to content on the Site or Mobile App that is inaccurate or
            deceptive, or that you find offensive or objectionable.</p>

            <p>Content You Post.</p>

            <p>Content you post via the Site or Mobile App may appear on other user's devices. You are responsible for all
            content that you post through or download from the Site or Mobile App. You may not post content that:</p>

            <p>Is not your own original creation or that you do not have permission to use (keep in mind that just because
            something on the internet does not have a copyright notice on it doesn't mean you can use it without
            permission);</p>

            <p>Infringes the copyright, trademark, patent right, or other proprietary right of any person or that is used
            without the permission of the owner;</p>

            <p>You know to be inaccurate;</p>

            <p>Is pornographic, sexually explicit, or obscene;</p>

            <p>Exploits children or minors;</p>

            <p>Violates the rights of privacy or publicity of any person;</p>

            <p>Is harassing, libelous, slanderous, or defamatory;</p>

            <p>Contains any personally identifying information about any person without their consent or about any person
            who is a minor;</p>

            <p>May be deemed generally offensive to the community, including blatant expressions of bigotry, prejudice,
            racism, hatred, profanity or religious or political radicalism;</p>

            <p>Includes advertisements, promotions, solicitations, spam, or offers to sell any goods or services for any
            commercial purpose;</p>

            <p>Is off topic;</p>

            <p>Is intended to provide professional advice, including but not limited to, the provision of medical
            treatment, or legal, financial or investment advice;</p>

            <p>Is intended to solicit, recommend, endorse, or offer to buy or sell any securities or other financial
            instruments, tout stocks, or recommend that any particular security, portfolio of securities, transaction,
            or investment strategy is suitable for you or any specific person;</p>

            <p>Violates any local, state, federal, and/or international laws or regulations;</p>

            <p>Promotes or provides instructional information about illegal or illicit activities;</p>

            <p>Contains software viruses or any other computer code, files, or programs designed to destroy, interrupt, or
            otherwise limit the functionality of any computer software, computer hardware, or other equipment; or,</p>

            <p>Is intended to overwhelm, cause technical disruptions of or denial of service to Company's servers.</p>

            <p>Company may remove any content that violates these Terms or that Company determines is otherwise not
            appropriate in Company's sole discretion. Company may or may not exercise editorial control over content
            posted on the Site or Mobile App.</p>

            <p>By posting or transmitting content on or through the Site or Mobile App, you</p>

            <p>represent and warrant that you are the creator and owner of, or have the necessary licenses, rights,
            consents, and permissions to use and to authorize Company and other users to use and distribute your content
            as necessary to exercise the licenses granted by you in these Terms and in the manner contemplated by
            Company and these Terms;</p>

            <p>you certify that you are (a) at least 18 years old, or (b) at least 13 years old and have obtained your
            parent's or legal guardian's express consent to submit content;</p>

            <p>agree to and do hereby grant Company and its affiliates and partners a nonexclusive, perpetual, irrevocable,
            worldwide, sublicensable, transferrable, royalty-free right and license to use, store, display, publish,
            transmit, transfer, distribute, reproduce, rearrange, edit, modify, aggregate, create derivative works of
            and publicly perform the content that you submit via the Site or Mobile App for any purpose, in any form,
            medium, or technology now known or later developed. You also acknowledge that (i) Company may have already
            created, or be in the process of creating, content that may be substantially similar to your ideas at the
            time you submit those ideas to us, and (ii) elements of your ideas may not be subject to protection under
            copyright laws. You also grant Company a license to use your user name in connection with Company's use of
            any content you provide to Company. You also consent to the display of advertising within or adjacent to any
            of your content. Any comments or materials you send to Company, including feedback data, such as questions,
            comments, suggestions and any other response shall be deemed to be nonconfidential.</p>

            <p>Limitation of Liability. TO THE FULLEST EXTENT ALLOWABLE UNDER APPLICABLE LAW, (A) IN NO EVENT SHALL COMPANY
            BE LIABLE TO YOU WITH RESPECT TO (1) USE OF THE SITE OR MOBILE APP, CONTENT OR SERVICES OR (2) DIRECT
            DAMAGES IN AMOUNTS THAT IN THE AGGREGATE EXCEED THE GREATER OF THE AMOUNT ACTUALLY PAID BY YOU, IF ANY, FOR
            THE SUBSCRIPTION SERVICES OR kn703.68 AND (B) IN NO EVENT SHALL COMPANY BE LIABLE TO YOU FOR ANY INDIRECT,
            SPECIAL, INCIDENTAL, CONSEQUENTIAL, PUNITIVE OR EXEMPLARY DAMAGES ARISING OUT OF OR IN ANY WAY RELATING TO
            THESE TERMS OR THE USE OF OR INABILITY TO USE THE SITE OR MOBILE APP, INCLUDING, WITHOUT LIMITATION, DAMAGES
            FOR LOST PROFITS, LOSS OR CORRUPTION OF DATA, BREACH OF PRIVACY OR SECURITY, TRANSMISSION OF PERSONAL DATA
            OR FAILURE OR MALFUNCTION OF YOUR DEVICE. YOUR SOLE REMEDY UNDER THESE TERMS IS TO CEASE USE OF THE SITE OR
            MOBILE APP.</p>

            <p>Warranty Disclaimer. EXCEPT AS EXPRESSLY SET FORTH IN THESE TERMS, COMPANY DOES NOT MAKE AND COMPANY HEREBY
            EXPRESSLY DISCLAIMS ALL WARRANTIES AND REPRESENTATIONS WITH RESPECT TO THE SITE OR MOBILE APP, CONTENT, AND
            SERVICES PROVIDED HEREUNDER OR OTHERWISE REGARDING THESE TERMS, WHETHER ORAL OR WRITTEN, EXPRESS OR IMPLIED,
            INCLUDING, BUT NOT LIMITED TO, ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE,
            ACCURACY, TITLE, NON-INFRINGEMENT, FREEDOM FROM COMPUTER VIRUSES OR MALWARE, AND WARRANTIES ARISING FROM
            COURSE OF DEALING, COURSE OF PERFORMANCE OR USAGE OF TRADE. COMPANY IS NOT RESPONSIBLE FOR THE ACTIONS OR
            INFORMATION OF THIRD PARTIES, AND YOU RELEASE COMPANY FROM ANY CLAIMS AND DAMAGES, KNOWN AND UNKNOWN,
            ARISING OUT OF OR IN ANY WAY CONNECTED WITH ANY CLAIM YOU HAVE AGAINST ANY SUCH THIRD PARTIES. SOME STATES
            AND COUNTRIES, INCLUDING MEMBER COUNTRIES OF THE EUROPEAN ECONOMIC AREA, DO NOT ALLOW THE LIMITATION OR
            EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO SOME OR ALL OF THE LIMITATIONS OR
            EXCLUSIONS ABOVE MAY NOT APPLY TO YOU. IF YOU ARE A CALIFORNIA RESIDENT, YOU WAIVE CALIFORNIA CIVIL CODE
            §1542, WHICH SAYS: A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT
            TO EXIST IN HIS OR HER FAVOR AT THE TIME OF EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM OR HER MUST HAVE
            MATERIALLY AFFECTED HIS OR HER SETTLEMENT WITH THE DEBTOR.</p>

            <p>Limitation of Time to File Claims. ANY CAUSE OF ACTION OR CLAIM YOU MAY HAVE ARISING OUT OF OR RELATING TO
            THESE TERMS OR SITE OR MOBILE APP MUST BE COMMENCED WITHIN ONE (1) YEAR AFTER THE CAUSE OF ACTION ACCRUES,
            OTHERWISE, SUCH CAUSE OF ACTION OR CLAIM IS PERMANENTLY BARRED.</p>

            <p>Indemnification. You agree to defend, indemnify, and hold harmless Company and its employees, contractors,
            officers, directors and successors from any and all claims, suits, damages, costs, lawsuits, fines,
            penalties, liabilities, expenses (including attorney's fees and costs) that arise from your use or misuse of
            the Site or Mobile App, violation of these Terms or violation of any rights (including, but not limited to
            intellectual property rights, right of privacy, right of publicity, etc.) of a third party. Company reserves
            the right to assume the exclusive defense and control of any matter otherwise subject to indemnification by
            you, in which event you will cooperate at your own expense in asserting any available defenses. The
            indemnification in this section extends to any allegations of copyright infringement, violation of the
            Digital Millennium Copyright Act or other law based on your importation, exportation, manipulation,
            modification, distribution, sale or other use of text, still images, or audio or video recordings.</p>

            <p>Contact Information. Should you wish to contact Company with any questions, complaints or claims with
            respect to the Site or Mobile App, email Company at info@donnavekic.com.</p>

            <p>Third Party Agreements And Additional Terms. You agree to comply with all applicable third party terms of
            agreement when using the Site or Mobile App. There may be additional terms and conditions that apply to
            portions of the Site or Mobile App and to any purchases on the Site or Mobile App or services, including,
            without limitation, invitations, sweepstakes, contests and the like. All such additional terms and
            conditions shall be a part of these Terms and are incorporated by reference herein and you agree to be bound
            by such additional provisions. In the event of a conflict between these Terms and any additional terms and
            conditions applicable to any portion or offering on the Site or Mobile App, such additional terms and
            conditions with respect to that portion or offering shall control.
            Waiver/Severability. The failure of Company to exercise or enforce any right or provision of these Terms
            shall not constitute a waiver of such right or provision. If any provision of these Terms is for any reason
            held unenforceable or invalid, then these Terms shall be construed as if such provision were not contained
            in these Terms.</p>


            <p>Entire Agreement; Modifications. These Terms comprise the entire agreement between you and Company, and
            supersede any other agreement or discussion, oral or written, with respect to the subject matter of these
            Terms, and may not be changed except by a written agreement signed in hardcopy form by both parties. There
            shall be no application of any rule of construction against the drafter as you have had an opportunity to
            have these Terms reviewed by your counsel.</p>

            <p>Brankica Vekic</p>
            <p>Avenue Saint Michel 11</p>
            <p>98000 Monaco</p>

            <p>&</p>

            <p>ECM Global GmbH</p>
            <p>Frankfurter Straße 74</p>
            <p>63263 Neu-Isenburg</p>

            <p>All rights reserved.</p>
        </div>
    </section>
</div>