<div class="row">
    <div class="col-md-12">
        <!--breadcrumbs start -->
        <ul class="breadcrumb">
            <li><a href="#/"><i class="fa fa-home"></i> Dashboard</a></li>
            <li><a href="#/galleries"> Galleries</a></li>
            <li class="active">{{ galleryCtrl.gallery.title }}</li>
        </ul>
        <!--breadcrumbs end -->
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="panel">
            <header class="panel-heading">
                Gallery - {{ galleryCtrl.gallery.title }}
            </header>

            <!-- Upload form -->
            <form upload-form="galleryCtrl.gallery" class="form-horizontal tasi-form" ng-submit="galleryCtrl.uploadFile()">
                <!-- File -->
                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">File</label>

                    <div class="col-sm-10">
                        <input upload-file type="file" ng-model="galleryCtrl.gallery.fileToUpload" multiple>
                    </div>
                </div>

                <!-- Submit -->
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <input type="submit" class="btn btn-info" value="Save" ng-show="galleryCtrl.readyToUpload" >
                        <a href="#/galleries" class="btn btn-default">Cancel</a>
                        <img ng-src="img/loading.gif" ng-show="!galleryCtrl.readyToUpload">
                    </div>
                </div>
            </form>


             <!--Photo gallery -->
            <photo-gallery photos="galleryCtrl.gallery.files" delete="galleryCtrl.deleteFile(id)" file-comments="galleryCtrl.getComments(item)"></photo-gallery>


            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>