<div class="row">
    <div class="col-md-12">
        <!--breadcrumbs start -->
        <ul class="breadcrumb">
            <li><a href="#/"><i class="fa fa-home"></i> Dashboard</a></li>
            <li><a href="#/matches"> Matches</a></li>
            <li class="active">{{ matchCtrl.match.title }}</li>
        </ul>
        <!--breadcrumbs end -->
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="panel">
            <header class="panel-heading">
                Match - {{ matchCtrl.match.title }}
            </header>

            <!-- Form -->
            <form class="form-horizontal tasi-form" ng-submit="matchCtrl.newMsg()">
                <!-- Msg text -->
                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Message</label>

                    <div class="col-sm-4">
                        <!--<input type="text" ng-model="matchCtrl.msg.text">-->
                        <textarea class="form-control" ng-model="matchCtrl.msg.text"
                                  placeholder="Write something.." rows="3" on-enter="matchCtrl.newMsg()"
                                  enter-clean="true">
                        </textarea>
                    </div>
                </div>

                <!-- Submit -->
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <input type="submit" class="btn btn-info" value="Save" ng-show="matchCtrl.readyToUpload">
                        <img ng-src="img/loading.gif" ng-hide="matchCtrl.readyToUpload">
                    </div>
                </div>
            </form>


            <div class="col-md-7">
            <section class="panel tasks-widget">
                <header class="panel-heading">
                    Messages list
                </header>
                <div class="panel-body">
                    <div class="task-content">
                        <ul ng-repeat="msg in matchCtrl.messages" class="task-list ui-sortable">
                            <li>
                                <div class="task-title">
                                    <span class="task-title-sp">{{ msg.text }}</span>
                                    <span class="task-title-sp">{{ msg.createdAt | date: 'dd.MM.yyyy HH:mm:ss' }}</span>

                                    <div class="pull-right hidden-phone">
                                        <button ng-click="matchCtrl.destroyMsg(msg.id)" class="btn btn-default btn-xs"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </section>
            </div>

            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>