<div class="row">
    <div class="col-md-12">
        <!--breadcrumbs start -->
        <ul class="breadcrumb">
            <li><a href="#/"><i class="fa fa-home"></i> Dashboard</a></li>
            <li><a href="#/matches"> Matches</a></li>
            <li class="active">{{ matchCtrl.match.title }}</li>
        </ul>
        <!--breadcrumbs end -->
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <section class="panel">
            <header class="panel-heading">
                Match data
            </header>
            <div class="panel-body">
                <form class="form-horizontal tasi-form" ng-submit="matchCtrl.save()">
                    <!-- Title -->
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Match title</label>
                        <div class="col-sm-10">
                            <input ng-model="matchCtrl.match.title" type="text" class="form-control" placeholder="Title">
                        </div>
                    </div>

                    <!-- Date -->
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Match date</label>
                        <div class="col-sm-10">
                            <input type='text' class="form-control" id='datetimepicker' datepicker ng-model="matchCtrl.match.date" />
                        </div>
                    </div>

                    <!-- Opponent1 -->
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Opponent 1</label>
                        <div class="col-sm-10">
                            <input ng-model="matchCtrl.match.opponent1" type="text" class="form-control" placeholder="Opponent1">
                        </div>
                    </div>

                    <!-- Opponent2 -->
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Opponent 2</label>
                        <div class="col-sm-10">
                            <input ng-model="matchCtrl.match.opponent2" type="text" class="form-control" placeholder="Opponent2">
                        </div>
                    </div>

                    <!-- Submit -->
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <input type="submit" class="btn btn-info" value="Save" ng-show="matchCtrl.readyToUpload">
                            <a href="#/matches" class="btn btn-default">Cancel</a>
                            <img ng-src="img/loading.gif" ng-hide="matchCtrl.readyToUpload">
                        </div>
                    </div>
                </form>

            </div>
        </section>
    </div>
</div>