<div class="row">
    <div class="col-md-12">
        <!--breadcrumbs start -->
        <ul class="breadcrumb">
            <li><a href="#/"><i class="fa fa-home"></i> Dashboard</a></li>
            <li class="active">Chat</li>
        </ul>
        <!--breadcrumbs end -->
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <section class="panel">
            <header class="panel-heading">
                Chat Feed - Online users: <strong>{{ totalChatUsers }}</strong>
                - Donna
                <span ng-show="donnaOnline || globalUser.isVIP">
                    <i class="fa fa-circle text-success"></i>
                    Online
                </span>
                <span ng-show="!donnaOnline && !globalUser.isVIP">
                    <i class="fa fa-circle text-danger"></i>
                    Offline
                </span>
            </header>
            <div class="panel-body">
                <div class="chat-panel" scroll-glue>
                    <ul class="media-list">
                        <li ng-repeat="message in messages" class="media">
                            <div ng-if="message.text">
                                <div class="pull-left">
                                    <img ng-show="message.user.file.thumb" src="{{ message.user.file.thumb }}" alt="Avatar"
                                         class="img-circle" width="64" height="64">

                                    <img ng-hide="message.user.file.thumb || !message.user.facebookId" src="https://graph.facebook.com//{{ message.user.facebookId }}/picture?width=1080&height=1080" alt="Avatar"
                                         class="img-circle" width="64" height="64">

                                    <img ng-hide="message.user.file.thumb || message.user.facebookId || message.user.googleId" src="http://api.adorable.io/avatars/100/{{ message.user.email }}" alt="Avatar"
                                         class="img-circle" width="64" height="64">

                                </div>
                                <div class="media-body">
                                    <span class="text-muted pull-right">
                                        <a href="#" ng-click="chatCtrl.destroy(message.id)">DELETE</a>
                                        <small><em>{{ message.createdAt | date: 'yyyy-MM-dd HH:mm:ss' }}</em></small>
                                    </span>

                                    <strong>{{ message.user.email }}</strong>

                                    <p>
                                        {{ message.text }}
                                        <i class="fa fa-thumbs-up" ng-click="chatCtrl.like(message)"></i>
                                        {{ message.likesNum }}
                                        <i class="fa fa-thumbs-down" ng-click="chatCtrl.report(message)"></i>
                                        {{ message.reportsNum }}
                                    </p>
                                </div>
                            </div>

                            <div ng-if="message.event" class="pull-left">
                                <small><strong>{{ message.user.firstName }} {{ message.user.lastName }}</strong> {{ message.event }}</small>
                            </div>

                        </li>
                    </ul>
                </div>

                <p ng-hide="mainCtrl.chatConnected">LOST CONNECTION</p>

                <div class="twt-area" ng-show="mainCtrl.chatConnected">
                    <form role="form" ng-submit="chatCtrl.send(message)">
                        <textarea class="form-control bla" ng-model="message.text"
                                  placeholder="Write something.." rows="3" on-enter="chatCtrl.send(message)"
                                  enter-clean="true">
                        </textarea>

                        <div class="clearfix">
                            <button class="btn btn-sm btn-primary pull-right" type="submit">
                                <i class="fa fa-send-o"></i>
                                Send
                            </button>
                            <!--<a class="btn btn-link btn-icon fa fa-location-arrow" data-original-title="Add Location" data-placement="bottom" data-toggle="tooltip" href="#" style="text-decoration:none;" title=""></a>-->
                            <!--<a class="btn btn-link btn-icon fa fa-camera" data-original-title="Add Photo" data-placement="bottom" data-toggle="tooltip" href="#" style="text-decoration:none;" title=""></a>-->
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>
