body {
    font-family: 'Lato', sans-serif;
}

body .header .logo {
    float: left;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    padding: 0 10px;
    width: 220px;
    font-weight: 500;
    height: 50px;
    display: block;
    position:relative;
    z-index: 9999;
    top: 1px;
}

.chat-panel {
    overflow: auto;
    max-height: 660px;
}

.col-center-block {
    float: none !important;
    margin: auto;
    display: block;
}

.lg-outer {
    padding-right: 400px;
}

.lg-sub-html {
    top: 0;
    right: 0;
    left: auto;
    width: 400px;
    background: #fff;
}

.fb-comments ul {
    list-style-type: none;
    padding: 0;
}

.fb-comments ul li {
    display: table;
    border-bottom: 1px solid #ccc;
    width: 100%;
    padding: 20px;
    text-align: left;
}

.fb-comments ul li img {
    width: 50px;
    float: left;
    border-radius: 100%;
}

.fb-comments ul li .comment-content {
    padding-left: 70px;
    color: black;
}
