<div class="row">
    <div class="col-md-12">
        <section class="panel">
            <header class="panel-heading">
                Event data
            </header>
            <div class="panel-body">
                <form upload-form="eventCtrl.event" class="form-horizontal tasi-form" method="post" ng-submit="eventCtrl.save()" enctype="multipart/form-data">
                    <!-- Title -->
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Event title</label>
                        <div class="col-sm-10">
                            <input ng-model="eventCtrl.event.title" type="text" class="form-control" placeholder="title">
                        </div>
                    </div>

                    <!-- Text -->
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Event description</label>
                        <div class="col-sm-10">
                            <textarea ng-model="eventCtrl.event.text" class="form-control" placeholder="description"></textarea>
                        </div>
                    </div>

                    <!-- Date -->
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Event date</label>
                        <div class="col-sm-10">
                            <input ng-model="eventCtrl.event.date" class="form-control" placeholder="date">
                        </div>
                    </div>

                    <!-- Location -->
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Event location</label>
                        <div class="col-sm-10">
                            <input ng-model="eventCtrl.event.location" class="form-control" placeholder="location">
                        </div>
                    </div>

                    <!-- File -->
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">File</label>

                        <div class="col-sm-10">
                            <input upload-file type="file" ng-model="eventCtrl.event.fileToUpload">
                        </div>
                    </div>

                    <!-- Submit -->
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <input type="submit" class="btn btn-info" value="Save">
                        </div>
                    </div>
                </form>

                <!-- Image -->
                <div class="col-lg-4 col-md-offset-4">
                    <img src="{{ eventCtrl.event.file.url }}" />
                </div>

            </div>
        </section>
    </div>
</div>